################################################
# in order to prevent accidental secret pushes #
################################################

# BLACKLIST EVERYTHING
*
*/**

# THEN WHITELIST!
!.gitignore
!*/**/*.md
!*/**/*.sh
!*/**/Dockerfile
!*/**/DATE

# BASEDEV
!basedev
!basedev/install
!basedev/packages
!basedev/packages/emacs
!basedev/packages/vivid
!basedev/packages/dot
!basedev/packages/dot/tmux.conf
!basedev/packages/dot/gitconfig
!basedev/packages/dot/profiles.clj
!basedev/build
!basedev/shell
!basedev/start
!basedev/**/run

# GUIXBUILDER
!guixbuilder
!guixbuilder/pack

# DEBUG
!debug
!debug/bash
!debug/ddocker
!debug/undocker.py
